<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diazs.notify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notify_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddClassActivity"></activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".ResetActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".FormLearn">
        </activity>
        <activity android:name=".ForumActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".RoomChat" />
        <activity android:name=".InputEvent" />
        <activity android:name=".FormVoting">
        </activity>
        <activity android:name=".ListChat" />
        <activity
            android:name=".LearnActivity"
            android:label="@string/title_activity_learn"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ChatActivity">

        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".DetailVoting"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>